.theLanding{
  /* border: solid; */
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/matches.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer{
  margin-top: 50vh;
}