.issue{
  margin: 0;
  font-family: "freight-sans";
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.tagLine{
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 1.3vw;
  color: #ffffff;
}

.more{
  margin-top: 0.5%;
  margin-bottom: 2%;
  font-family: "freight-sans";
  font-weight: 600;
  font-size: 0.9vw;
  text-transform: uppercase;
  text-decoration: underline dotted;
  color: #ffffff;
}

@font-face{
  font-family: "freight-sans";
  src: url("../assets/fonts/FreightSansProMedium-Regular.ttf")
}